#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#button{
  padding:0.4rem;
}
#text{
  width:19rem;
  margin-right:1rem;
  margin-bottom:1rem;
}
#properties{
  display:flex;
  justify-content:space-between;
}
